.Info{
    text-align:center;
    
}
.img{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:-7rem;
    right:8rem;
    /* align-items: center; */
}
.head{
    position:relative;
    top:-6rem;
    right:-20rem;
}